.vs/
IntegrationTests/bin/
IntegrationTests/obj/
WebApplication1.Api/bin/
WebApplication1.Api/obj/
WebApplication1.DataAccess/bin/
WebApplication1.DataAccess/obj/
WebApplication1.Api/WebApplication1.Api.csproj.user
WebApplication1.Api/Properties/PublishProfiles/
IntegrationTests/published/
tools/
publish/
WebApplication1.Api/published-app/
WebApplication1.Tests/obj/
WebApplication.UnitTests/bin/
WebApplication.UnitTests/obj/
published/
WebApplication1.Domain/bin/
WebApplication1.Domain/obj/
WebApplication1.Service/bin/
WebApplication1.Service/obj/
WebApplication1.Tests.Core/bin/
WebApplication1.Tests.Core/obj/
